.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 16px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topbar {
  margin: 20px auto;
  width: 80%;
}

.topbar__container--whole {
  display: flex;
}

.topbar__left--title {
  // margin-left: 5px;
  width: 70%;
}

.homepage__title {
  font-size: 30px;
  font-weight: 700;
  color: #448899;
}

.clickE {
  cursor: pointer;
}

.topbar__container--right {
  width: 30%;
  // margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topbar__right--booking {
  margin-right: 15px;
}

.topbar__title--font {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}

.topbar__right--login {
  margin-left: 15px;
}

.button_like {
  border: solid white 1px;
  background-color: white;
  cursor: pointer;
}

.seperateLine {
  width: 1920px;
  height: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.mainContent {
  width: 80%;
  max-height: 400px;
  margin: 50px 0 50px 0;
  display: flex;
}

.imgCarousel {
  width: 50%;
  margin-right: 20px;
  position: relative;
}

.imgSlider {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#prevBtn {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 45%;
  left: 4%;
  z-index: 1;
  background-image: url(/static/images/image_arrow_left.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: solid 0.5px transparent;
  opacity: 0.5;
  cursor: pointer;
}

#nextBtn {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 45%;
  left: 90%;
  z-index: 1;
  background-image: url(/static/images/image_arrow_right.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: solid 0.5px transparent;
  opacity: 0.5;
  cursor: pointer;
}

.projectSetting {
  width: 50%;
  margin-left: 20px;
}

.attractionName,
.categoryMrt {
  width: 100%;
  margin-bottom: 30px;
}

.attractionName {
  font-size: 24px;
  font-weight: 700;
  color: #666666;
}

.categoryMrt {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.project {
  width: 100%;
  height: 302px;
  padding: 15px;
}

.project__style {
  background-color: #e8e8e8;
  border-radius: 10px;
}

.project__inside--1 {
  font-size: 16px;
  font-weight: 700;
  color: #666666;
  margin-bottom: 20px;
}

.project__inside--2 {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 20px;
}

.dateSelect {
  margin-bottom: 20px;
}

#dateIp {
  border: solid 0.5px #e8e8e8e8;
  height: 35px;
}

.timeSelect {
  margin-bottom: 30px;
}

.fontP {
  font-size: 16px;
  font-weight: 700;
  color: #666666;
  display: inline-block;
}

.price,
.priceS {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  margin-bottom: 15px;
}

.schBtn button {
  border: solid 1px #e8e8e8;
  border-radius: 5px;
  background-color: #448899;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.description {
  width: 80%;
  padding: 50px 0 70px 0;
}

.mainDes {
  width: 100%;
  // margin-bottom: 30px;
}

.addressTitle {
  margin-top: 50px;
}

.address {
  margin-top: 15px;
}

.transTitle {
  margin-top: 50px;
}

.transport {
  margin-top: 15px;
}

.font {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: #666666;
}

.footer__structure {
  max-width: 1920px;
  height: 104px;
  margin-top: 70px;
  background-color: #757575;
}

.footer__layout {
  display: flex;
  justify-content: center;
  align-items: center;
}
