.container {
  max-width: 1920x;
  margin: 0 auto;
  padding: 0 16px;
  overflow: visible;
}

.topbar {
  margin: 20px auto;
  width: 1200px;
}

.topbar__container--whole {
  display: flex;
}

.topbar__left--title {
  margin-left: 10px;
  width: 70%;
}

.homepage__title {
  font-size: 30px;
  font-weight: 700;
  color: #448899;
}

.topbar__container--right {
  width: 30%;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topbar__right--booking {
  margin-right: 15px;
}

.topbar__title--font {
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}

.topbar__right--login {
  margin-left: 15px;
}

.main__banner--image101 {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}

.image101 {
  width: 100%;
}

.banner__inside {
  width: 1200px;
  margin-left: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.banner__inside--header {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}

.banner__inside--para {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 20px;
}

.filter {
  margin-top: 20px;
  max-width: 460px;
  height: 46px;
  display: flex;
  align-items: center;
}

.filter__btn {
  width: 100px;
  height: 100%;
  border: solid 1px #eeeeee;
  background-color: #eeeeee;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0 0 5px;
}

.select {
  position: relative;
  padding: 2px 2px;
  font-size: 14px;
}

.arrow {
  display: inline-block;
  margin-left: 6px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #333;
}

.filter__input {
  width: 400px;
  height: 100%;
  border: solid 1px #ffffff;
  background-color: #ffffff;
}

input::-moz-placeholder {
  font-size: 16px;
}

input::placeholder {
  font-size: 16px;
}

.search__btn {
  width: 60px;
  height: 100%;
  border: solid 1px #448899;
  background-color: #448899;
  border-radius: 0 5px 5px 0;
}

.middle__bar--mrts {
  width: 1200px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.middle__bar--mrts p {
  color: white;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.attraction__content--whole {
  width: 1200px;
  margin: 50px auto;
  overflow: visible;
}

.attraction__content--unit {
  border: #e8e8e8 1px solid;
  border-radius: 5px;
}

.attraction__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-items: center;
}

.imageShell {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

.aImage {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  aspect-ratio: 4/3;
  position: relative;
  border-radius: 5px 5px 0 0;
}

.attractionInfo {
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.attractionInfo p {
  color: white;
  font-weight: 600;
}

.attractionData {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.attractionDataLeft,
.attractionDataRight {
  color: grey;
  font-weight: 500;
}/*# sourceMappingURL=index_style.css.map */